/* Main Menu */
.autocomplete__13533.outerWrapper_d1405b {
    max-width: 500px;
}

/* Autocomplete Menu */
.autocomplete__13533.autocomplete__6b0e0 {
    max-height: 300px;
    width: 500px;
}

/* Force scrollable list (.scroller__6b0e0) to match the outer 300px so it doersn't cut off content */
.autocomplete__13533.autocomplete__6b0e0 .scroller__6b0e0 {
    max-height: 300px !important;
}