.wrapper_cb9592:not(.sidebarOpen_cb9592) .toolbar__9293f {
    padding-right: var(--toolbar-padding);
}

/* default */
:root {
    --toolbar-padding: 260px;
}

/* Vencord toolbox */
body:has(.vc-toolbox-icon) {
    --toolbar-padding: 295px;
}

/* Update button */
body:has([aria-label="Update Ready!"]) {
    --toolbar-padding: 295px;
}

/* Vencord toolbox + Update button */
body:has(.vc-toolbox-icon):has([aria-label="Update Ready!"]) {
    --toolbar-padding: 330px;
}