.wrapper_cb9592:not(.sidebarOpen_cb9592) .toolbar__9293f {
    padding-right: 230px;
}

/* if the user has vencord toolbox: */
body:has(.vc-toolbox-icon)
.wrapper_cb9592:not(.sidebarOpen_cb9592) .toolbar__9293f {
    padding-right: 295px;
}