/*
Mention/Replying Gradient Highlight Colors - By Burning Stone
https://discord.com/channels/1015060230222131221/1028106818368589824/1368192901535895704
https://github.com/BurningStoneDiscord/DiscordHighlightGradient
*/
@import url("https://raw.githubusercontent.com/BurningStoneDiscord/DiscordHighlightGradient/refs/heads/main/MentionReplyingFancyGradient.css");

/*
Better Compact Command Menu - By AcheronX. (acheronx0577)
https://discord.com/channels/1015060230222131221/1028106818368589824/1404168611873947718
https://github.com/acheronx0577/Better-Compact-Command-Menu-With-Smooth-Transition
*/
@import url("https://raw.githubusercontent.com/acheronx0577/Better-Compact-Command-Menu-With-Smooth-Transition/refs/heads/main/Better%20Compact%20Command%20Menu%20With%20Smooth%20Transition.css");

/*
Compact / Hide Visual Refresh Title Bar - By Chloe (chloecinders)
https://discord.com/channels/1015060230222131221/1028106818368589824/1354203100872835123
https://github.com/chloecinders/visual-refresh-compact-title-bar
*/
@import url('https://raw.githubusercontent.com/surgedevs/visual-refresh-compact-title-bar/refs/heads/main/desktop.css');

/*
Compact / Hide Visual Refresh Title Bar fixes - By g0d0fninjas
https://discord.com/channels/1015060230222131221/1354203100872835123/1434189813405450341
*/
div.page__5e434 {
  &:not(:has(> div.chat_f75fb0)) {
    anchor-name: --vr-header-snippet;
  }

  & > div.chat_f75fb0 {
    anchor-name: --vr-header-snippet;
  }
}

div.base__5e434 {
  grid-template-rows: [top] 0 [titleBarEnd] min-content [noticeEnd] 1fr [contentEnd] min-content [end];

  & > div.content__5e434 {
    z-index: 0;
  }

  & > div.bar_c38106 {
    position: absolute;
    position-anchor: --vr-header-snippet;
    top: var(--vr-header-snippet-top);
    right: anchor(right);
    width: anchor-size(width);
    padding: 0 var(--vr-header-snippet-button-padding) 0 0;
  }

  & div.trailing_c38106 {
    background: none;
    border: none;
    height: var(--custom-channel-header-height);
  }
}

:not(:has(div.page__5e434 > div.chat_f75fb0)) div.base__5e434 > div.bar_c38106 {
  right: 0 !important;
}

/*customise top bar*/
:root {
    /* controls the vertical position of the window buttons */
    --vr-header-snippet-top: 0px !important;
    /* controls the space above the server list */
    --vr-header-snippet-server-padding: 16px !important;
    /* controls the space the window buttons get on the channel header, experiment around with this if you get gaps or the buttons overlap! */
    --vr-header-snippet-space: 225px !important;
    /* controls the space to the right of the window buttons, good if you are using themes like midnight which add padding to the bar */
    --vr-header-snippet-button-padding: 5px !important;
    /* !DESKTOP SNIPPET ONLY! If set to none instead of flex, hides the window control buttons */
    --vr-header-snippet-winbuttons: flex !important;
}

/* allows quest buttons to be clickable */
.tabWrapper__26669 {
  -webkit-app-region: no-drag;
}

/* search/wishlist/orbs on shop page */
.alignedRightContent__80679 {
  position: fixed;
  right: 189px;
  -webkit-app-region: no-drag;
}

/* orbs balance on quests page */
.headerBarContent__1a9ce .container__44ee9 {
  position: fixed;
  right: 225px;
  -webkit-app-region: no-drag;
}

/* vc open chat icon */
.toolbar__49508 {
  position: fixed;
  top: 16px;
  right: 213px;
}

/*
Compact / Hide Visual Refresh Title Bar fixes - By APO (epos05) 
Fix chat title not clickable and backbuttons
*/
.children__9293f {
  -webkit-app-region: no-drag;
}
:has(.backForwardButtons__63abb) .children__9293f {
  margin-left: 50px;
}

/*
Don't Cover Server List With Panel - By Obsidian (obsidianninja11)
https://discord.com/channels/1015060230222131221/1028106818368589824/1354331484831354952
*/
.visual-refresh section.panels__5e434 {
  left: calc(var(--custom-guild-list-width) + var(--space-xs));
  width: calc(100% - var(--custom-guild-list-width) - var(--space-xs)*2);
  box-sizing: border-box;

  .actionButtons_e131a9 button {
    padding: 0;
  }

  /* GameActivityToggle Fix (delete if you don't use) */
  /* .container__37e49 {
    padding: var(--space-xxs);
    gap: var(--space-4);
    >.buttons__37e49 {
      gap: 0;
    }
    >.avatarWrapper__37e49 {
      min-width: 32px !important;
      >.avatar__37e49 {
        scale: 0.9;
      }
    }
  } */
}
nav.guilds__5e434 {
  margin-bottom: 0 !important;
}
.sidebar__5e434:after {
  display: none;
}
/* BetterFolders fix (delete if you don't use) */
/* .vc-betterFolders-sidebar~section.panels__5e434 {
  left: calc(var(--custom-guild-list-width)*2  + var(--space-xs));
  width: calc(100% - var(--custom-guild-list-width)*2 - var(--space-xs)*2 ) !important;
} */

.micButtonParent__37e49>.buttonChevron__37e49 {
  display: none;
}
.micButtonParent__37e49>.micButtonWithMenu__37e49 {
  border-radius: var(--radius-sm);
}

/*
brings back the round server icons - By ukriu
https://discord.com/channels/1015060230222131221/1028106818368589824/1354441271090876609
*/
[class^="folderPreview_"] > [class^="icon_"],
[data-list-item-id*="guildsnav_"] > [class^="icon_"] {
    border-radius: 50% !important;
}

/*
Fuck Activity Status - By LuLu (lusaffi)
https://discord.com/channels/1015060230222131221/1028106818368589824/1354411094764163196
*/
[class*='membersGroup']:has([role=button]),
[class*='member'] [class*='container']:has([class*='badges']) {
  display: none;
} 

/*
Pin page switcher to bottom of search results - By Suffocate
https://discord.com/channels/1015060230222131221/1028106818368589824/1334846468334555207
*/
#search-results+.container__86c0f {
  position: sticky;
  bottom: 0;
  z-index: 999;
  background: var(--bg-overlay-1,var(--background-base-lowest));
}

/*
Collapse Icon Position Fix - By Bean (sakgoyal)
https://discord.com/channels/1015060230222131221/1028106818368589824/1362945175957012612
*/
.containerDefault__29444 {
  > div {
    padding-left: 0.5em;

    > div {
      display: flex !important;
      place-content: start !important;
      flex-direction: row-reverse !important;
    }
  }
}

/* Bring back word count- By Obsidian (obsidianninja11)
https://discord.com/channels/1015060230222131221/1028106818368589824/1428262507688099952
*/
.characterCount__795fb>.hiddenVisually_b18fe2 {
  height: auto;
  width: auto;
  clip: unset;
  clip-path: unset;
  background-color: var(--background-surface-highest);
  border: 1px solid var(--border-subtle);
  border-radius: var(--radius-sm);
  padding: var(--space-4) var(--space-8);
  user-select: text;
}

.characterCount__795fb>.upsell__795fb,
.characterCount__795fb>.flairContainer__795fb>div {
  display: none;
}