/**
 * @name Cleaner Discord Theme
 * @author EPOS05
 * @version 26.06.22+0224
 * @description A Discord theme to make the desktop UI look way cleaner - Made possible by many developers credited inline
 * @source https://github.com/EPOS05/cleaner-discord-theme
 * @website https://github.com/EPOS05/cleaner-discord-theme
 */

/* =========================================================================== */
/* Snippet: Compact Command Picker */
/* By: EPOS05 */
/* Source: GitHub: https://github.com/EPOS05/cleaner-discord-theme */
/* License: CC0 */
/* =========================================================================== */
/* Main Menu */
.autocomplete__13533.outerWrapper_d1405b {
    max-width: 500px;
}

/* Autocomplete Menu */
.autocomplete__13533.autocomplete__6b0e0 {
    max-height: 300px;
    width: 500px;
}

/* =========================================================================== */
/* Snippet: Remove nitro gift button */
/* By: EPOS05 */
/* Source: GitHub: https://github.com/EPOS05/cleaner-discord-theme */
/* License: CC0 */
/* =========================================================================== */
[aria-label="Send a gift"] {
    display: none !important;
}

/* =========================================================================== */
/* Snippet: Remove gap on top of server list */
/* By: EPOS05 */
/* Source: GitHub: https://github.com/EPOS05/cleaner-discord-theme */
/* License: CC0 */
/* =========================================================================== */
.scroller_ef3116 {
    margin-top: 0 !important;
}



/* =========================================================================== */
/* Snippet: Fix voice call menu buttons overlapping (Compact Title Bar fix) */
/* By: EPOS05 */
/* Source: GitHub: https://github.com/EPOS05/cleaner-discord-theme */
/* License: CC0 */
/* =========================================================================== */
.wrapper_cb9592:not(.sidebarOpen_cb9592) .toolbar__9293f {
    padding-right: 230px;
}

/* if the user has vencord toolbox: */
body:has(.vc-toolbox-icon)
.wrapper_cb9592:not(.sidebarOpen_cb9592) .toolbar__9293f {
    padding-right: 295px;
}

/* =========================================================================== */
/* Snippet: Fix chat title and backbuttons experiment overlapping (Compact Title Bar fix) */
/* By: EPOS05 */
/* Source: GitHub: https://github.com/EPOS05/cleaner-discord-theme */
/* License: CC0 */
/* =========================================================================== */
/* Controls the title bar chat title in the top left */
:has(.backForwardButtons__63abb) .children__9293f {
  margin-left: 50px;
}

/* Controls the title bar buttons in the top right */
:root {
    --vr-header-snippet-space: 195px !important;
}

/* =========================================================================== */
/* Snippet: Don't Cover Server List With Panel */
/* By: obsidianninja11 */
/* Source: Discord: https://discord.com/channels/1015060230222131221/1028106818368589824/1354331484831354952 */
/* License: CC0 */
/* =========================================================================== */
.visual-refresh section.panels__5e434 {
  left: calc(var(--custom-guild-list-width) + var(--space-xs));
  width: calc(100% - var(--custom-guild-list-width) - var(--space-xs)*2);
  box-sizing: border-box;

  .actionButtons_e131a9 button {
    padding: 0;
  }

  /* GameActivityToggle Fix (delete if you don't use) */
  /* .container__37e49 {
    padding: var(--space-xxs);
    gap: var(--space-4);
    >.buttons__37e49 {
      gap: 0 !important;
    }
    >.avatarWrapper__37e49 {
      min-width: 32px !important;
      >.avatar__37e49 {
        scale: 0.9;
      }
    }
  } */
}
nav.guilds__5e434 {
  margin-bottom: 0 !important;
}
.sidebar__5e434:after {
  display: none;
}
/* BetterFolders fix (delete if you don't use) */
/* .vc-betterFolders-sidebar~section.panels__5e434 {
  left: calc(var(--custom-guild-list-width)*2  + var(--space-xs));
  width: calc(100% - var(--custom-guild-list-width)*2 - var(--space-xs)*2 ) !important;
} */

/* Hide the arrows (creates extra room) */
.micButtonParent__37e49>.buttonChevron__37e49 {
  display: none;
}
.micButtonParent__37e49>.micButtonWithMenu__37e49 {
  border-radius: var(--radius-sm);
}

/* =========================================================================== */
/* Snippet: Move profile buttons back to the top right */
/* By: obsidianninja11 */
/* Source: Discord: https://discord.com/channels/1015060230222131221/1028106818368589824/1449340673357643885 */
/* License: CC0 */
/* =========================================================================== */
.user-profile-modal-v2 .profile__9c3be {
  anchor-name: --profile-anchor;
  --tooltip-bg: color-mix(in oklab, var(--neutral-79) 100%, var(--custom-theme-base-color, #000) var(--custom-theme-base-color-amount, 0%));
  --tooltip-border: color-mix(in oklab,hsl(var(--opacity-12-hsl)/0.12156862745098039) 100%,hsl(var(--custom-theme-base-color-hsl,0 0% 0%)/0.12156862745098039) var(--custom-theme-border-color-amount,var(--custom-theme-base-color-amount,0%)));
    /* Edit fill (for bg) and color (for border) to be the same as above. %23 is # */
  --arrow-svg: url("data:image/svg+xml,%3Csvg fill='%23242429' color='%23323237' width='16' height='10' viewBox='0 0 16 10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath  d='M10.3426 7.0715C9.14163 8.57272 6.85837 8.57272 5.65739 7.0715L0 -0.000244141L16 -0.000244141L10.3426 7.0715Z'%3E%3C/path%3E%3Cpath stroke='currentColor' d='M9.93457 6.84546C8.93433 8.06766 7.06567 8.06766 6.06543 6.84546L0.0546875 -0.500244L15.9453 -0.500244L9.93457 6.84546Z'%3E%3C/path%3E%3C/svg%3E");
  
  .profileButtons__9c3be {
    position: fixed;
    top: calc(anchor(--profile-anchor start) + 12px);
    right: calc(anchor(--profile-anchor end) + 12px);

    button {
      background: var(--redesign-button-overlay-alpha-background) !important;
      border: 1px solid var(--opacity-white-8) !important;
      border-radius: 50%;
      &:hover, &:active {
        background: var(--redesign-button-overlay-alpha-pressed-background) !important;
      }
    }
    >button {
      min-width: 32px !important;

      >.buttonChildrenWrapper_a22cb0 {
        overflow: visible;
        padding: 0 !important;
        >.buttonChildren_a22cb0 {
          overflow: visible;
          justify-content: center;
        }
      }
      .lineClamp1__4bd52 {
        align-items: center;
        position: absolute;
        top: -52px;
        
        background-color: var(--tooltip-bg);
        border-radius: var(--radius-sm);
        box-shadow: inset 0 0 0 1px var(--tooltip-border), var(--shadow-high);
        color: var(--text-default);
        padding: var(--space-8) var(--space-12);
        pointer-events: none;
        
        display: flex;
        justify-content: center;
        overflow: visible;

        will-change: opacity, transform;
        opacity: 0;
        transform: scale(0.95);
        transform-origin: 50% 100%;
        transition: opacity 0.1s ease, transform 0.1s ease;
        &::after {
          content: var(--arrow-svg);
          position: absolute;
          bottom: -13px;
        }
      }
      &:hover .lineClamp1__4bd52 {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

/* =========================================================================== */
/* Snippet: brings back the round server icons */
/* By: ukriu */
/* Source: Discord: https://discord.com/channels/1015060230222131221/1028106818368589824/1354441271090876609 */
/* License: CC0 */
/* =========================================================================== */
[class$="folderPreview__48112"] > [class*="folderPreviewGuildIcon__48112"],
[data-list-item-id^="guildsnav___"] > [class$="icon__6e9f8"] {
  border-radius: 50% !important;
}

/* =========================================================================== */
/* Snippet: Fuck Activity Status */
/* By: lusaffi */
/* Source: Discord: https://discord.com/channels/1015060230222131221/1028106818368589824/1354411094764163196 */
/* License: CC0 */
/* =========================================================================== */
[class*='membersGroup']:has([role=button]),
[class*='member'] [class*='container']:has([class*='badges']) {
  display: none;
}

/* =========================================================================== */
/* Snippet: Collapse Icon Position Fix */
/* By: sakgoyal */
/* Source: Discord: https://discord.com/channels/1015060230222131221/1028106818368589824/1362945175957012612 */
/* License: CC0 */
/* =========================================================================== */
.containerDefault__29444 {
  > div {
    padding-left: 0.5em;

    > div {
      display: flex !important;
      place-content: start !important;
      flex-direction: row-reverse !important;
    }
  }
}

/* =========================================================================== */
/* Snippet: Compact - Hide Visual Refresh Title Bar */
/* By: chloecinders - Fixed by G0d0fninjas */
/* Source: GitHub: https://github.com/G0d0fninjas/visual-refresh-compact-title-bar | Discord: https://discord.com/channels/1015060230222131221/1354203100872835123/1437447878829412403 */
/* License: CC0 */
/* =========================================================================== */
.visual-refresh {
    /* gives each variable a default */
    --vr-header-snippet-top: 0px;
    --vr-header-snippet-server-padding: 16px;
    --vr-header-snippet-space: 230px;
    --vr-header-snippet-button-padding: 0;
    --vr-header-snippet-winbuttons: flex;

    --update-padding: 0px;
    --vencord-padding: 0px;
    --checkpoint-padding: 0px;
    --experiments-padding: 0px;

    /* adds padding to chat pages */
    div.chat_f75fb0:not(.threadSidebarOpen_f75fb0),
    /* adds padding to friend list page */
    main.container__133bf,
    /* adds padding to thread sidebar */
    div.chatLayerWrapper__01ae2 {
        & section.container__9293f {
            padding-right: var(--vr-header-snippet-space);
        }
    }

    /* adds padding to servers/app pages */
    div.headerBar__8a7fc.overlay__8a7fc {
        padding-right: var(--vr-header-snippet-space);

        .tab__65d41,
        .searchBar__1ac1c {
            -webkit-app-region: no-drag;
        }
    }

    div.page__5e434 {
        &:not(:has(> div.chat_f75fb0)) {
            anchor-name: --vr-header-snippet;
        }

        & > div.chat_f75fb0 {
            anchor-name: --vr-header-snippet;
        }
    }

    /* shows or removes window buttons depending on variable */
    div.winButtons_c38106 {
        display: var(--vr-header-snippet-winbuttons);
    }

    /* inbox, help, window buttons variables */
    div.trailing_c38106 {
        background: none;
        border: none;
        height: var(--custom-channel-header-height);

        /* adds padding to window buttons on settings/picture pages */
        & > div.winButtons_c38106:not(.winButtonsWithDivider_c38106) {
            padding-right: var(--vr-header-snippet-button-padding);
        }
    }

    div.base__5e434 {
        grid-template-rows: [top] 0 [titleBarEnd] min-content [noticeEnd] 1fr [contentEnd] min-content [end];

        /* check if users have the update, vencord, "checkpoint (discord recap), or experiments button */
        /* TODO: find the actual class name */
        &:has(> div.bar_c38106 > div.trailing_c38106 div.clickable__81391[aria-label='Update Ready!']) {
            --update-padding: 36px;
        }
        &:has(> div.bar_c38106 > div.trailing_c38106 .vc-toolbox-icon) {
            --vencord-padding: 36px;
        }
        &:has(> div.bar_c38106 > div.trailing_c38106 path.iconForeground_f1f2b1) {
            --checkpoint-padding: 36px;
        }
        &:has(> div.bar_c38106 > div.trailing_c38106 div.clickable__81391[aria-label='DevTools']) {
            --experiments-padding: 36px;
        }

        /* pre-calculates the total padding needed when including the extra buttons */
        --vr-header-snippet-extra-padding: calc(var(--update-padding) + var(--vencord-padding) + var(--checkpoint-padding) + var(--experiments-padding));
        --vr-header-snippet-total-padding: calc(var(--vr-header-snippet-space) + var(--vr-header-snippet-extra-padding));

        /* adds padding to app detail page */
        div.detailHeaderContainer_e1147e {
          padding-right: calc(var(--vr-header-snippet-total-padding) - 12px);
        }

        div.subtitleContainer_f75fb0,
        main.container__133bf {
            /* adds padding to entire top container */
            & section.container__9293f {
                padding-right: var(--vr-header-snippet-total-padding);
            }
        }

        /* checks if thread sidebar is open */
        &:has(div > div.chatLayerWrapper__01ae2) {
            /* removes extra padding given to search bar */
            div.subtitleContainer_f75fb0 > section.container__9293f {
                padding-right: 8px;
            }

            /* adds padding to the thread buttons */
            div.container__01ae2 > section.container__9293f {
                padding-right: var(--vr-header-snippet-total-padding);
            }

            /* adds padding to the vc chat page in fullscreen */
            &:has(> div.content__5e434 > div.hidden__5e434) div.container__01ae2 > section.container__9293f {
                padding-right: var(--vr-header-snippet-button-padding);
            }
        }

        /* adds extra spacing to the orbs button on orbs/shop page */
        div.container__44ee9 {
            padding-right: var(--vr-header-snippet-extra-padding);
        }

        /* livestream header on vc */
        div.upperContainer__9293f {
            div.toolbar__49508 {
                margin-right: -214px !important;
                -webkit-app-region: no-drag;
            }
            div.title__49508,
            div.container__49508 {
                -webkit-app-region: no-drag;
            }
        }

        /* adds extra padding to chat icon on vc */
        div.video_cb9592:not(:has(.fullScreen_cb9592)) div.subtitleContainer__49508:has(button.button__201d5[aria-label^='Show Chat']) {
            margin-right: calc(var(--vr-header-snippet-total-padding) - var(--vr-header-snippet-button-padding)) !important;
        }

        /* checks if you are searching for a server/app */
        div.container_d08938,
        div.innerContainer_e1147e {
            /* adds padding to search bar */
            div.search__1ac1c {
                /* TODO: fix issue where doesnt let you search if window too small, or clicking search icon clips it into bar */
                margin-right: calc(var(--vr-header-snippet-button-padding) + var(--vr-header-snippet-extra-padding) - 4px);
                -webkit-app-region: no-drag;
            }
            

            /* adds extra padding if you are looking at search results */
            &:has(> div.headerBar__8a7fc.relative__8a7fc) {
                .search__1ac1c {
                    padding-right: calc(var(--vr-header-snippet-space) + var(--vr-header-snippet-extra-padding) - 60px);
                }
            }
        }

        /* moves element to "front" */
        & > div.content__5e434 {
            z-index: 0;
        }

        /* top bar variables */
        & > div.bar_c38106 {
            position: absolute;
            position-anchor: --vr-header-snippet;
            top: var(--vr-header-snippet-top);
            right: anchor(right);
            width: anchor-size(width);
            padding: 0 var(--vr-header-snippet-button-padding) 0 0;

            /* removes the title bar */
            & > .title_c38106 {
                display: none;
            }
        }

        &:has(> div.notice__6e2b9) {
            & > div.bar_c38106 {
                top: anchor(top);
            }
        }

        /* checks if a thread is opened on the side of your screen */
        &:has(.threadSidebarOpen_f75fb0.threadSidebarFloating_f75fb0) > .bar_c38106 {
            z-index: 0;
        }
    }

    /* removes the extra padding given to the popout menu on vcs */
    div.popout__0bd4a {
        div.bar_c38106 {
            /* changing this value does nothing, but removes the extra padding so oh well */
            height: 0px
        }
        /* fixes padding issue with the close chat button on popout page */
        section.container__9293f > div.upperContainer__9293f:has([aria-label="Close"]) {
            margin-right: -220px;
        }
    }

    /* checks if discord is on a server page */
    :not(:has(div.page__5e434 > div.chat_f75fb0)) div.base__5e434 > div.bar_c38106 {
        right: 0 !important;
    }

    /* adds padding to server list */
    ul[data-list-id="guildsnav"] > div.itemsContainer_ef3116 > div.stack_dbd263 {
        margin-top: var(--vr-header-snippet-server-padding);
    }

    
    section.header__0b563 div.toolbar__9293f,
    section.header_c791b2 div.toolbar__9293f,
    section.header_c791b2 div.children__9293f,
    /* shop categories */
    div.shop__6db1d div.tabs__354ec,
    /* main thread + all/claimed quest buttons */
    div.titleWrapper__9293f,
    /* back button on discover pages */
    div.iconButton__8a7fc,
    /* "follow" button for announcements */
    div.followButton_f75fb0 > button,
    :not(.videoControls_bfe55a) div.topic__6ec1a {
        /* allows these areas to be clickable */
        -webkit-app-region: no-drag;
    }

    /* adds padding to shop page if a toolbar is showing (unsure what the toolbar is) */
    .shop__6db1d section.showToolbar__9293f {
        padding-right: var(--vr-header-snippet-space);

        .balanceWidgetMenu__80679 {
            margin-right: 0;
        }
    }

    .div.videoControls_bfe55a .topControls_bfe55a {
        z-index: -1;
    }

    /* mod view padding */
    .profileThemedContainer__656be .topRow__34940 {
        align-items: end;
        padding-bottom: 0;

        .closeAction__34940 {
            -webkit-app-region: no-drag;
        }

        .memberNameContainer__34940 {
            padding-bottom: 12px;
        }
    }

    /* search/wishlist/orbs on shop page */
    .shop__6db1d div.toolbar__9293f {
      margin-right: calc(var(--vr-header-snippet-space) - 9px);
      -webkit-app-region: no-drag;
    }

    /* orbs balance on quests page */
    .headerBar__1a9ce .container__44ee9 {
      position: fixed;
      right: calc(var(--vr-header-snippet-space) + 3px);
      -webkit-app-region: no-drag;
    }

    /* fixes extra gap of group dm button on friends page */
    .toolbar__9293f .inviteToolbar__133bf {
        padding-right: 0px;
    }

    /* fixes weird padding issue when searching for an app */
    .sideFilterContainer__1eae0 {
        position: fixed;
        top: 57px;
    }

    /* allows back button on discover pages to be clickable */
    & .iconButton__8a7fc {
        -webkit-app-region: no-drag;
    }

    /* allows "follow" button for announcements to be clickable */
    div.followButton_f75fb0 > button{
        -webkit-app-region: no-drag;
    }

    /* fixes padding issue for livestream indicator on main window when vc is popped out */
    div.videoControls_bfe55a:has(button.button__201d5[aria-label='Return to Discord']) {
        div.streamQualityIndicator__30845 {
            margin-right: calc(var(--vr-header-snippet-space) - 10px);
        }
    }

    /* nitro home page */
    div.applicationStore_f07d62 div.toolbar__9293f {
        margin-right: var(--vr-header-snippet-space);
        -webkit-app-region: no-drag;
    }
}


/* =========================================================================== */
/* Snippet: User & Activity Panels Redesign */
/* By: yiruzu */
/* Source: GitHub: https://github.com/yiruzu/vencord-snippets | Discord: https://discord.com/channels/1015060230222131221/1028106818368589824/1434002998111113366 */
/* License: CC0 */
/* =========================================================================== */
:root {
  --bg-color: var(--background-gradient-high, var(--background-base-lowest));

  --panel-gap: 8px;
  --panel-radius: 10px;
  --panel-color: var(--background-gradient-highest, var(--background-base-low));

  --spotify-image-blur: 4px;
  --spotify-image-opacity: 0.45;
  --spotify-image-hover-opacity: 0.7;

  --order-quests: 0;
  --order-listening: 1;
  --order-stream: 2;
  --order-spotify-player: 3;
  --order-voice: 4;
  --order-profile: 5;
}

.panels__5e434 {
  display: flex;
  flex-direction: column;
  gap: var(--panel-gap);
  background: var(--bg-color);
  border: none;
}

.mask__0d616 {
  order: var(--order-quests);
  margin-inline: 0;
  padding-inline: 0;
  border-radius: var(--panel-radius);
}
.wrapper__0d616,
.wrapperVisible__0d616 {
  border-radius: var(--panel-radius);
}

.listeningAlong_e0cf27,
.panel__5dec7,
.container_e131a9,
.container__37e49 {
  background-color: var(--panel-color);
  border: 1px solid var(--border-subtle);
  border-radius: var(--panel-radius);
}

.listeningAlong_e0cf27 {
  order: var(--order-listening);
}

.panel__5dec7 {
  order: var(--order-stream);
  padding: calc(var(--custom-guild-list-padding) - var(--custom-panels-spacing) + 3px);
}

.wrapper_e131a9 {
  order: var(--order-voice);

  &:not(:has(.container_e131a9)) {
    display: none;
  }

  .container_e131a9 {
    min-height: 90px;
  }
}

.container__37e49 {
  order: var(--order-profile);
  min-height: 59px;

  &:has(.plated_37e49) {
    border: none;
  }
}

#vc-spotify-player {
  order: var(--order-spotify-player);
  position: relative;
  overflow: hidden;
  background: linear-gradient(to bottom, transparent 0%, var(--panel-color) 100%) !important;
  border: 1px solid transparent;
  border-radius: var(--panel-radius);
  margin: 0 -1px;

  .barFill_a562c8 {
    background-color: var(--vc-spotify-green) !important;
  }

  .vc-spotify-repeat-context,
  .vc-spotify-repeat-track,
  .vc-spotify-shuffle-on {
    span {
      color: var(--vc-spotify-green);
    }
    svg {
      fill: var(--vc-spotify-green);
    }
  }

  .vc-spotify-progress-time {
    margin-top: 10px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    transition: all 0.4s ease-out;
    z-index: -1;
  }
  &::before {
    background: var(--vc-spotify-track-image) center/cover no-repeat;
    opacity: var(--spotify-image-opacity);
  }
  &::after {
    backdrop-filter: blur(var(--spotify-image-blur));
  }

  &:hover::before {
    opacity: var(--spotify-image-hover-opacity);
  }
  &:hover::after {
    backdrop-filter: blur(0);
  }

  > * {
    filter: drop-shadow(0 0 10px var(--panel-color));
  }
}


/* =========================================================================== */
/* Snippet: Mention-Replying Gradient Highlight Colors */
/* By: BurningStone */
/* Source: GitHub: https://github.com/BurningStoneDiscord/DiscordHighlightGradient | Discord: https://discord.com/channels/1015060230222131221/1028106818368589824/1368192901535895704 */
/* License: CC0 */
/* =========================================================================== */
/*FANCY MENTION/REPLY GRADIENT COLORS*/
/*By: Burning Stone*/

.mentioned__5126c {
    position: relative;
    border: none !important;
    background-color: transparent;
    background-image: linear-gradient(to right, rgba(186, 109, 20, 0.2), var(--background-base-lower));
    border-radius: 4px;
}

.message__5126c.mentioned__5126c.selected__5126c,
.mouse-mode.full-motion .message__5126c.mentioned__5126c:hover {
    background: linear-gradient(
        to right,
        rgba(186, 109, 36, 0.2),
        var(--message-background-hover)
    );
}

.replying__5126c {
    position: relative;
    border: none !important;
    border-radius: 4px;
    background-color: transparent;
    background-image: linear-gradient(to right, rgba(58, 72, 163, 0.3), var(--background-base-lower));
}

.message__5126c.replying__5126c.selected__5126c,
.mouse-mode.full-motion .message__5126c.replying__5126c:hover {
    background: linear-gradient(
        to right,
        rgba(58, 72, 179, 0.3),
        var(--message-background-hover)
    );
}

.flash__034365 {
    background-image: transparent;
}

.flash__034365[data-flash=true] {
    background-image: linear-gradient(to right, rgba(58, 72, 163, 0.3), var(--background-base-lower));
}

.full-motion .flash__034365 {
    transition: rgba(0,0,0,0) .2s ease;
}


/* =========================================================================== */
/* Snippet: More compact buttons */
/* By: Krammeth */
/* Source: GitHub: https://github.com/Krammeth/css-snippets | Discord: https://discord.com/channels/1015060230222131221/1028106818368589824/1442245337501667688 */
/* License: CC0 */
/* =========================================================================== */
/**
* @name CompactButtons
* @version 1.0
* @description Makes sidebar buttons more... compact (duh?)
* @author krammeth (original by cea.api)
* @website https://github.com/Krammeth
*/

.scroller__99e7c[data-list-id^="private-channels-uid_"] {
  scrollbar-width: 0;
  scrollbar-color: transparent;
  >.content_d125d2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    >div:not([class]):first-child,
    >div[role="button"],
    >.privateChannelsHeaderContainer__99e7c,
    >.channel__972a0.dm__972a0 {
      width: 100%;
      min-width: 0;
    }
    >.friendsButtonContainer_e6b769,
    >div:nth-of-type(3),
    >.channel__972a0:not(.dm__972a0),
    >.wrapper__553bf {
      margin: 0;
    }
    .channel__972a0:not(.dm__972a0) {
      margin: 0 4px !important;
      >.linkButton__972a0 >.link__972a0 {
        padding: 6px;
        justify-content: center;
        >.avatarWithText__972a0 {
          padding: 0;
          >.avatar__20a53 {
            margin: 0;
          }
          >.content__20a53 {
            display: none;
          }
        }
        >.numberBadge__2b1f5 {
          position: absolute;
          left: 17.5px;
          bottom: 0;
          transform: scale(0.7);
        }
        >.premiumBadge__6d7da {
          position: absolute;
          bottom: 0;
          transform: scale(0.7);
          background-color: var(--badge-notification-background);

          >.BadgeClockIcon__6d7da {
            display: none;
          }

          >.eyebrow_cf4812 {
            color: var(--white) !important;
          }
        }
        >.newBadge__4ed1a {
          position: absolute;
          bottom: 0;
          transform: scale(0.7);
          
          >.eyebrow_cf4812 {
            background-color: var(--badge-notification-background);
            color: var(--white);
          }
        }
      }
    }
  }
}

/* =========================================================================== */
/* Snippet: Page Swapper Refresh */
/* By: davart154 */
/* Source: GitHub: https://github.com/davart154/Themes | Discord: https://discord.com/channels/1015060230222131221/1028106818368589824/1447985517911212213 */
/* License: CC0 */
/* =========================================================================== */
.scroller_a98f3b {
  display: contents;
}
#search-results {
  flex: 1 1 auto;
  padding: 16px 8px 0 16px;
  overflow: hidden scroll;
  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    margin-bottom: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: var(--scrollbar-thin-thumb);
    border: 2px solid transparent;
    border-radius: 4px;
    min-height: 40px;
  }
}
.searchResultGroup_a7e67f:last-child {
  margin-bottom: 0;
}

.paginationDock_a98f3b {
  background: var(--background-gradient-highest,var(--background-base-low));
  border: 1px solid var(--border-muted);
  border-radius: var(--radius-sm);
  box-shadow: unset;
  margin-inline: var(--space-xs);
  margin-bottom: var(--space-xs);
  > div {
    display: flex;
  }
}
.custom-theme-background .paginationDock_a98f3b {
  border-color: var(--app-frame-border);
}
.pageControl_c15210 {
  box-sizing: border-box;
  flex: 1;
  gap: var(--space-8);
  height: 56px;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.pageButton_c15210 {
  font-weight: 500;
  height: 32px;
  min-height: 32px;
  min-width: 32px;
  padding: 0 var(--space-8) !important;
  margin: 0 !important;
  border: 1px solid transparent;
  border-radius: var(--radius-sm);
  background-color: var(--control-secondary-background-default);
  border-color: var(--control-secondary-border-default);
  color: var(--control-secondary-text-default);
  transition: 50ms ease;
  &:hover {
    background-color: var(--control-secondary-background-hover);
    border-color: var(--control-secondary-border-hover);
    color: var(--control-secondary-text-hover);
    transition: .15s ease;
  }
  &:active {
    background-color: var(--control-secondary-background-active);
    border-color: var(--control-secondary-border-active);
    color: var(--control-secondary-text-active);
  }
  &.activeButton_c15210 {
    background-color: var(--control-primary-background-default);
    border-color: var(--control-primary-border-default);
    color: var(--control-primary-text-default);
  }
  &.activeButton_c15210:hover {
    background-color: var(--control-primary-background-hover);
    border-color: var(--control-primary-border-hover);
    color: var(--control-primary-text-hover);
  }
  &.activeButton_c15210:active {
    background-color: var(--control-primary-background-active);
    border-color: var(--control-primary-border-active);
    color: var(--control-primary-text-active);
  }
  &:is(h2) {
    background-color: var(--input-background-default);
    border-color: var(--input-border-default);
    color: var(--custom-input-text-color);
    min-width: 64px;
  }
  &:is(h2):hover {
    background-color: var(--input-background-default);
    border-color: var(--input-border-hover);
    color: var(--custom-input-text-color);
  }
  &:is(h2):active {
    background-color: var(--input-background-default);
    border: 2px solid var(--input-border-active);
    color: var(--custom-input-text-color);
  }
}
.endButton_c15210 {
  padding: 0 !important;
  &:first-child {
    margin-right: auto !important;
  }
  &:last-child {
    margin-left: auto !important;
  }
  span {
    display: none;
  }
}
.iconCaret_c15210 {
  margin: 0 !important;
}
.jumpToPageInlineInput_c15210 {
  width: 64px;
  margin: 0 !important;
  .wrapper__72c38 {
    min-height: 32px;
  }
  input {
    padding: 0;
    text-align: center;
  }
}
.container__72c38 input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.resultsBlocked_a7e67f {
  background: var(--background-feedback-warning);
  border: 1px solid var(--icon-feedback-warning);
  border-radius: var(--radius-sm);
  color: var(--text-feedback-warning);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857142857142858;
  margin-bottom: var(--space-xs);
  margin-inline: var(--space-xs);
  padding: 8px;
  > div:last-child {
    color: var(--text-default);
  }
}
.resultsBlockedImage_a7e67f.resultsBlockedImage_a7e67f {
  margin-inline-end: 8px;
  background-color: currentColor;
  background-image: unset;
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M10 3.1a2.37 2.37 0 0 1 4 0l8.71 14.75c.84 1.41-.26 3.15-2 3.15H3.29c-1.74 0-2.84-1.74-2-3.15L9.99 3.1Zm3.25 14.65a1.25 1.25 0 1 1-2.5 0 1.25 1.25 0 0 1 2.5 0ZM13.06 14l.37-5.94a1 1 0 0 0-1-1.06h-.87a1 1 0 0 0-1 1.06l.38 5.94a1.06 1.06 0 0 0 2.12 0Z' clip-rule='evenodd' class=''/%3E%3C/svg%3E") center/cover no-repeat;
  height: 20px;
  width: 20px;
}

.container__3379f {
  background: var(--background-feedback-info);
  border: 1px solid var(--icon-feedback-info);
  border-radius: var(--radius-sm);
  color: var(--text-feedback-info);
  box-sizing: border-box;
  min-height: 56px;
  margin: var(--space-xs);
  padding-block: unset;
  padding-inline: var(--space-md);
}

.paginationLimitHeader_a98f3b, .helpMessageContainer_a98f3b {
  margin-inline: var(--space-xs);
  margin-top: var(--space-xs);
  margin-bottom: 0;
  width: unset;
}

/* =========================================================================== */
/* Snippet: Compact search field */
/* By: Wroclaw */
/* Source: GitHub: https://github.com/amozeo/discord-css-snippets | Discord: https://discord.com/channels/1015060230222131221/1028106818368589824/1448455055337328831 */
/* License: CC0 */
/* =========================================================================== */
.search_c322aa > .searchBar_c322aa {
    width: 32px !important;
    background: none;
    border-color: transparent;
    transition: background .25s ease,
        width .25s ease,
        border-color .25s ease;
}

.search_c322aa > .searchBar_c322aa .DraftEditor-root {
    padding-right: 3px !important;
}

.search_c322aa.open_c322aa > .searchBar_c322aa {
    width: 244px !important;
    background: var(--background-gradient-low, var(--input-background-default));
    border-color: var(--input-border-default);
}

.search_c322aa > .searchBar_c322aa .icon_c322aa {
    margin-right: 7px;
}

.search__49676 {
    margin: 0 !important;
    width: auto !important;
}


/* =========================================================================== */
/* Snippet: Prettified & Expanded (edited) Message Timestamp */
/* By: fckyough */
/* Source: GitHub: https://github.com/fckyough/css1 | Discord: https://discord.com/channels/1015060230222131221/1028106818368589824/1512571526069620836 */
/* License: CC0 */
/* =========================================================================== */
/**
 * @name Coloured Icons
 * @author Some dude idk
 * @version 1.0.0
 * @description Fixed & (edited) by Moga
 * @source https://github.com/fckyough/css1/
 * @invite HEjuFmbm6g
*/

/* ============================================================================================================================================================ */

/* ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾ */
/* Prettier & Expanded (edited) Timestamp */
/* ______________________________________ */
/* https://discord.com/channels/1015060230222131221/1134844326933954622/1505719920284008468 */
/* https://discord.com/channels/1015060230222131221/1028106818368589824/1512571526069620836 */
/* https://discord.com/channels/1173279886065029291/1505754267506577462 */

.messageContent_c19a55>.timestamp_c19a55 {
  /* :not(>.message-translate-indicator) */
  >span>time>.edited_c19a55 {width: 26ch; opacity: 0; position: absolute; align-self: center;}
  >.hiddenVisually_b18fe2 {
    clip-path: unset;
    width: max-content;
    height: unset;
    margin-top: 1px;
    position: unset;

    /* btw u can add a :hover after .msgContent_ or .timestamp_ which is cool, but if it causes */
    /* a linewrap then itll spaz out a bit, and idk why & am too stupid to fix, so lmk if u can ig */

    /* &::before {content: '✎ edited on (';} */
    /* &::after {content: ')';} */
    &::before {content: '✎ ';}
  }
}

/* ============================================================================================================================================================ */


/* =========================================================================== */
/* Snippet: SettingsModal */
/* By: DevilBro */
/* Source: GitHub: https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/SettingsModal */
/* License: GPL-2.0 */
/* =========================================================================== */
.dev_e9c564.hasBadge_e9c564 {
	overflow: visible;
}
.member__5d473 .dev_e9c564.hasBadge_e9c564 {
	position: relative;
}
.dev_e9c564::before {
	display: none !important;
}
.dev_e9c564.hasBadge_e9c564 .mask__44b0c {
	-webkit-mask: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><path fill="white" d="m 0,0 v 0.588 c 0.04285503,0.002169 0.08764096,-2.7964e-4 0.127,0 0.1310673,9.3123e-4 0.16260999,0.0186869 0.163,0.15 2.5938e-4,0.0873322 0,0.262 0,0.262 H 1 V 0 Z"/></svg>') center/cover no-repeat;
}
.avatar_c19a55.dev_e9c564.hasBadge_e9c564 > img {
	-webkit-mask: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><path fill="white" d="M 0 0 L 0 0.67578125 C 0.049283231 0.67827525 0.10122152 0.67545966 0.14648438 0.67578125 C 0.29721162 0.67685225 0.33353587 0.69859943 0.33398438 0.84960938 C 0.33413352 0.89982534 0.33402166 0.93722907 0.33398438 1 L 1 1 L 1 0 L 0 0 z"/></svg>') center/cover no-repeat;
}
.dev_e9c564.hasBadge_e9c564 .avatarDecoration_c19a55,
.dev_e9c564.hasBadge_e9c564 .avatarDecoration__44b0c {
	-webkit-mask: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><path fill="white" d="M 0 0 L 0 0.63578125 C 0.049283231 0.63827525 0.10122152 0.63545966 0.14648438 0.63578125 C 0.29721162 0.63685225 0.33353587 0.68859943 0.33398438 0.84960938 C 0.33413352 0.89982534 0.33402166 0.93722907 0.33398438 1 L 1 1 L 1 0 L 0 0 z"/></svg>') center/cover no-repeat;
}
.dev_e9c564.hasBadge_e9c564 .avatarDecoration_c19a55 {
	top: 0;
	left: 0;
}
.dev_e9c564.hasBadge_e9c564 .badge_e9c564 {
	-webkit-mask: url('data:image/svg+xml; utf8, <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M 4.5 0 C 3.672043 0 3 0.67204269 3 1.5 L 3 4.4160156 L 21 4.4160156 L 21 1.5 C 21 0.67204269 20.328003 0 19.5 0 L 4.5 0 z M 3 7.8027344 L 3 22.5 C 3 23.105995 3.3662743 23.655743 3.9257812 23.886719 C 4.1117802 23.963224 4.306496 24 4.5 24 C 4.889979 24 5.2740679 23.847026 5.5605469 23.560547 L 12 17.121094 L 18.439453 23.560547 C 18.725933 23.847026 19.11002 24 19.5 24 C 19.693503 24 19.887777 23.963177 20.072266 23.886719 C 20.633283 23.655743 21 23.105995 21 22.5 L 21 7.8027344 L 3 7.8027344 z"/></svg>') center/cover no-repeat !important;
	background: var(--bdfdb-blurple, hsl(235, calc(var(--saturation-factor, 1)*85.6%), 64.7%)) !important;
	position: absolute !important;
	width: 30% !important;
	height: 30% !important;
	top: 74% !important;
	left: 1.5% !important;
}
.dev_e9c564.hasBadge_e9c564 .mask__44b0c[width="32"][height="32"] ~ .badge_e9c564 {
	margin-top: -8% !important;
	margin-left: -6% !important;
}
.selected__91a9d .dev_e9c564.hasBadge_e9c564 .badge_e9c564 {
	filter: brightness(80%) !important;
}


:root {
	--settingswidth: 		960;
	--settingsheight: 		80;
	--settingsbackground: 		transparent;

	
	--settingswidth_v: 		min(calc(1px * var(--settingswidth_s, var(--settingswidth))), 99vw);
	--settingsheight_v: 		min(calc(1vh * var(--settingsheight_s, var(--settingsheight))), 99vh);
	--settingsbackground_v: 	var(--settingsbackground_s, var(--settingsbackground));
}

#app-mount .baseLayer__960e4 {
	opacity: 1 !important;
	transform: unset !important;
	will-change: unset !important;
	visibility: unset !important;
}
#app-mount .stop-animations * {
	transition-property: inherit !important;
	animation: inherit !important;
}
#app-mount .layer__960e4.stop-animations:first-child::after,
#app-mount .BA__layerContainer .BA__layer--hidden:first-child::after {
	content: "" !important;
	position: fixed !important;
	background: rgb(0, 0, 0) !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	opacity: 0.85 !important;
	z-index: 999 !important;
	pointer-events: none !important;
}

#app-mount .layer__960e4 ~ .layer__960e4,
#app-mount .BA__layerContainer ~ .BA__layerContainer {
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	background: var(--settingsbackground_v) !important;
	border-radius: 5px !important;
	box-shadow: var(--elevation-high) !important;
	width: var(--settingswidth_v) !important;
	height: var(--settingsheight_v) !important;
	margin: auto !important;
	padding: 0 !important;
	overflow: hidden !important;
	contain: unset !important;
	z-index: 1000 !important;
	--settingsiconsadditionalsize: var(--use-settingsicons, 0) * (var(--settingsicons-size, 0px) + var(--settingsicons-gap, 0px));
}
#app-mount .BA__layerContainer ~ .BA__layerContainer > .layer__960e4 {
	position: unset !important;
	padding: unset !important;
	overflow: unset !important;
	contain: unset !important;
	height: 100% !important;
}
#app-mount .layer__960e4 ~ .layer__960e4 > div,
#app-mount .layer__960e4 ~ .layer__960e4 .standardSidebarView__23e6b,
#app-mount .BA__layerContainer ~ .BA__layerContainer > .layer__960e4 > div,
#app-mount .BA__layerContainer ~ .BA__layerContainer .standardSidebarView__23e6b {
	position: static !important;
	border-radius: unset !important;
	width: 100% !important;
	height: 100% !important;
	margin: unset !important;
	padding: unset !important;
	overflow: hidden !important;
}
#app-mount .layer__960e4 ~ .layer__960e4 .sidebarRegion__23e6b,
#app-mount .layer__960e4 ~ .layer__960e4 .sidebarRegionScroller__23e6b,
#app-mount .BA__layerContainer ~ .BA__layerContainer .sidebarRegion__23e6b,
#app-mount .BA__layerContainer ~ .BA__layerContainer .sidebarRegionScroller__23e6b {
	flex: 0 0 auto !important;
	margin-top: 0 !important;
	z-index: 3 !important;
}
#app-mount .layer__960e4 ~ .layer__960e4 .sidebar__23e6b,
#app-mount .BA__layerContainer ~ .BA__layerContainer .sidebar__23e6b {
	width: 218px !important;
	padding: 20px 6px 20px 20px !important;
}
#app-mount .layer__960e4 ~ .layer__960e4 .contentColumnDefault__23e6b,
#app-mount .layer__960e4 ~ .layer__960e4 .contentColumnWide__23e6b,
#app-mount .BA__layerContainer ~ .BA__layerContainer .contentColumnDefault__23e6b,
#app-mount .BA__layerContainer ~ .BA__layerContainer .contentColumnWide__23e6b {
	padding: 20px 40px !important;
}
#app-mount .layer__960e4 ~ .layer__960e4 .contentRegionScroller__23e6b,
#app-mount .BA__layerContainer ~ .BA__layerContainer .contentRegionScroller__23e6b {
	margin-top: 0 !important;
}
#app-mount .layer__960e4 ~ .layer__960e4 .sidebar_e29cd7,
#app-mount .BA__layerContainer ~ .BA__layerContainer .sidebar_e29cd7 {
	height: var(--settingsheight_v) !important;
}
#app-mount .layer__960e4 ~ .layer__960e4 .standardSidebarView__23e6b .editor,
#app-mount .BA__layerContainer ~ .BA__layerContainer .standardSidebarView__23e6b .editor {
	height: calc(var(--settingsheight_v) - 120px) !important;
}
#app-mount .layer__960e4 ~ .layer__960e4 .toolsContainer__23e6b,
#app-mount .BA__layerContainer ~ .BA__layerContainer .toolsContainer__23e6b {
	position: fixed !important;
	inset: 0 !important;
	width: 100% !important;
	max-width: unset !important;
	height: 100% !important;
	max-height: unset !important;
	z-index: -1 !important;
	padding-top: 0 !important;
	opacity: 0 !important;
}
#app-mount .layer__960e4 ~ .layer__960e4 .toolsContainer__23e6b .tools__23e6b,
#app-mount .BA__layerContainer ~ .BA__layerContainer .toolsContainer__23e6b .tools__23e6b {
	width: 100% !important;
	height: 100% !important;
}
#app-mount .layer__960e4 ~ .layer__960e4 .toolsContainer__23e6b .closeButton_c2b141,
#app-mount .BA__layerContainer ~ .BA__layerContainer .toolsContainer__23e6b .closeButton_c2b141 {
	border: none !important;
	border-radius: 0 !important;
	width: 100% !important;
	max-width: unset !important;
	height: 100% !important;
	max-height: unset !important;
	cursor: default !important;
	flex: unset !important;
	transition: unset !important;
}
#app-mount .layer__960e4 ~ .layer__960e4 .toolsContainer__23e6b .closeButton_c2b141:hover,
#app-mount .BA__layerContainer ~ .BA__layerContainer .toolsContainer__23e6b .closeButton_c2b141:hover {
	transition: unset !important;
	background: unset !important;
}
#app-mount .layer__960e4 ~ .layer__960e4 .toolsContainer__23e6b .closeButton_c2b141 > svg,
#app-mount .BA__layerContainer ~ .BA__layerContainer .toolsContainer__23e6b .closeButton_c2b141 > svg {
	display: none !important;
}
#app-mount > .appAsidePanelWrapper_a3002d > .notAppAsidePanel_a3002d .contentRegion__23e6b .toolsContainer__23e6b .container_c2b141 {
	height: 100% !important;
}
#app-mount > .appAsidePanelWrapper_a3002d > .notAppAsidePanel_a3002d .contentRegion__23e6b .toolsContainer__23e6b .keybind_c2b141 {
	display: none !important;
}
#app-mount .layer__960e4 ~ .layer__960e4 .settingsToolbar_8227b0,
#app-mount .BA__layerContainer ~ .BA__layerContainer .settingsToolbar_8227b0 {
	display: none !important;
}
#app-mount .layer__960e4 ~ .layer__960e4 .container__9293f.headerBar__80679.
#app-mount .BA__layerContainer ~ .BA__layerContainer .container__9293f.headerBar__80679 {
	position: static !important;
}

#app-mount .root__5c9fc:not(:has(.introAnimation__33f0b)) {
	position: fixed !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	background: var(--settingsbackground_v) !important;
	border-radius: 5px !important;
	box-shadow: var(--elevation-high) !important;
	width: var(--settingswidth_v) !important;
	height: var(--settingsheight_v) !important;
	margin: auto !important;
	padding: 0 !important;
	overflow: hidden !important;
	contain: unset !important;
	z-index: 1000 !important;
}
#app-mount .root__5c9fc.enterDone__5c9fc {
	transform: unset !important;
}
#app-mount .root__5c9fc .closeIconWrapper__6fd0e,
#app-mount .root__5c9fc .closeIconWrapper__6fd0e .container_c2b141,
#app-mount .root__5c9fc .closeIconWrapper__6fd0e .closeButton_c2b141,
#app-mount .layer__960e4 > .shop__6db1d .container_c2b141,
#app-mount .layer__960e4 > .shop__6db1d .closeButton_c2b141 {
	position: fixed !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	z-index: -1 !important;
	background: transparent !important;
	border: none !important;
	border-radius: 0 !important;
	width: 100% !important;
	max-width: unset !important;
	height: 100% !important;
	max-height: unset !important;
	margin: 0 !important;
	padding: 0 !important;
	opacity: 0 !important;
	cursor: default !important;
	animation: unset !important;
	transition: unset !important;
}
#app-mount .layer__960e4 > .shop__6db1d .shopHomeLink__80679,
#app-mount .layer__960e4 > .shop__6db1d .tabs__80679,
#app-mount .layer__960e4 > .shop__6db1d .shopScroll__08415 {
	z-index: 2 !important;
}
#app-mount .root__5c9fc .closeIconWrapper__6fd0e {
	top: 22px !important;
}

